<%
var row = record.values[0];

%>

<div class="cbp-l-inline">
  <div class="cbp-l-inline-left">
    <div class="cbp-slider">
      <ul class="cbp-slider-wrap">
        <%
         if(row.medias){

           for(var x=0;x<row.medias.length;x++)
           {
              var media = row.medias[x];

             %>
            <li class="cbp-slider-item">
              <a href="<%=media.url%>" class="cbp-lightbox">
                <img src="<%=media.url%>" alt="<%=media.title %>">
              </a>
            </li>

        <%
           }
         }
          %>

      </ul>
    </div>
  </div>

  <div class="cbp-l-inline-right">
    <div class="cbp-l-inline-title"><%=row.title %></div>
    <div class="cbp-l-inline-subtitle"><%=row.intro %></div>

    <div class="cbp-l-inline-desc"><%-row.body %></div>

    <a href="<%=row.url %>" target="_blank" class="cbp-l-inline-view">VIEW PROJECT</a>
  </div>
</div>
